TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=APP_KEY # can be generated using `node ace generate:key`
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER='smarthire'
DB_PASSWORD='smarthire1234'
DB_DATABASE='smarthire'

DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=
